<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="../assets/style/home.css">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
</head>
<body>
  <div class="container">
    <div class="left">
        <div class="title">
            <h1>Plan, Execute, Triumph</h1>
        </div>
        <div class="quote">
            <p>"<strong>Productivity</strong> is never an accident. It is always the <strong>result</strong> of a commitment to excellence, intelligent <strong>planning</strong>, and <strong>focused effort</strong>."</p>
            <p class="auth">- Paul J. Meyer</p>
        </div>
        <div class="buttons">
            <a href="/user/login" class="btn">Login</a>
            <a href="/user/register" class="btn">Register</a>
        </div>
    </div>
    <div class="right"><img src="../assets/images/home.jpg" alt=""></div>
  </div>
</body>
</html>